.configration-container {
    margin-left: 290px;
    margin-right: 10px;
    text-align: right;
    top: 8px;
}

select#language-select {
    margin-top: 10px !important;
    background-color: teal !important;
    color: #fff;
    border: 1px solid #fff !important;
    padding: 4px;
    border-radius: 15px;
    margin-bottom: 10px;
}

#language-select option {
    background-color: rgb(0, 148, 148) !important; /* Cambia el color de fondo de cada opción */
    color: #fff !important; /* Cambia el color del texto de cada opción */
    font-size: 12px !important; /* Cambia el tamaño del texto de cada opción */
  }