.configration-container {
    margin-left: auto;
    margin-right: 10px;
    text-align: right;
    top: 8px;
}

.font-size-18 {
    font-size: 18px;
}

select#language-select {
    background-color: #4444a0 !important;
    color: #fff;
    border: 1px solid #fff !important;
    padding: 4px;
    border-radius: 15px;
    margin-bottom: 10px;
}