svg.svg-inline--fa.fa-user.p-2.icon1 , svg.svg-inline--fa.fa-magnifying-glass.p-2.icon1,
svg.svg-inline--fa.fa-plus.p-2.icon1 , svg.svg-inline--fa.fa-plus.p-2.icon1 {
    color: #fff !important;
}

.w-100 {
    margin-top: -15px !important;
}

/* Agrega estos estilos al final de tu archivo CSS */

.popupbuttons {
    display: flex;
    gap: 10px; /* Espacio entre los botones */
    margin-top: 10px !important;
  }
  
  .popupbuttons button {
    background-color: teal !important;
    color: white !important;
    border: none !important;
    padding: 10px !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    transition: background-color 0.3s ease !important; /* Efecto de transición al pasar el ratón */
  
    /* Otros estilos según sea necesario */
  }
  
  .popupbuttons button:hover {
    background-color: #008080 !important; /* Color de fondo al pasar el ratón */
  }
  