svg.svg-inline--fa.fa-user.p-2.icon1 , svg.svg-inline--fa.fa-magnifying-glass.p-2.icon1,
svg.svg-inline--fa.fa-plus.p-2.icon1 , svg.svg-inline--fa.fa-plus.p-2.icon1 {
    color: #fff !important;
}

.w-100 {
    margin-top: -15px !important;
}