.noti-card {
  background-color: rgba(0, 128, 128, 0.638);
  color: white;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 16px;
}

.noti-title {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.noti-content {
  font-size: 1.2rem;
  line-height: 1.5;
}
