/* 
.card-general{
    border: 5px solid #b9e7e7 !important;
    margin: 6px auto;
}

.card-image{
    width: 200px !important;
    height: 200px !important;
    margin: 16px auto;
    border-radius: 20px;
}

.card-miniheader {
    display: flex;
    justify-content: space-between;
    background-color: #f6f6f6;
    border-radius: 5%;
}

.card-title{
    font-weight: bold;
    font-size: 23px;
    margin: 8px;
}

.card-text{
    text-align: justify;
    font-size: 17px;
}

.card-heart-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-top: 12px;
}

.card-button {
    background-color: teal !important;
    border-color: teal !important;
} */