/* UserCard.css */
.user-card {
    border: 2px solid teal;
    border-radius: 8px;
    padding: 6px;
    margin: 16px;
    text-align: left;
    background-color: white;
    transition: transform 0.2s;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    .user-link {
      text-decoration: none;
      color: teal;
      display: flex;
    }
  
    .user-avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 0px;
    }
  
    .user-username {
      margin-top: 14px;
      font-size: 20px;
      font-weight: bold;
    }
  
    &:hover {
      transform: scale(1.05);
    }
  }
  