.content {
    margin-top: 5px;
    color: #008080;
}

.box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.allergies {
    margin: auto 50% 20px;
}

.heart , .allergies { 
    color: red;  
}

h2 {
    color: green;
}


