.reply-container {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .reply-header {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .reply-body {
    display: flex;
    flex-direction: column;
  }
  
  .reply-textarea {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: vertical;
    min-height: 100px;
  }
  
  .reply-buttons {
    display: flex;
    justify-content: flex-end;
  }
  
  .submit-reply-button,
  .cancel-reply-button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
  }
  
  .submit-reply-button {
    background-color: #5cb85c;
  }
  
  .cancel-reply-button {
    background-color: #d9534f;
  }

  .likes-count-component {
    color: rgb(255, 255, 255) !important;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    z-index: 2;
  }

  .heart-icon-component {
    width: 30px;
    height: 30px;
    background-color: transparent;
    margin-right: 1px;
    z-index: 1;
  }
  
  .comment-likes-component {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: none; /* Remove button background */
    border: none;     /* Remove button border */
    padding: 0;       /* Remove button padding */
    cursor: pointer;  /* Optional: Change cursor on hover */
  }