$lightGreen: #b9e7e7;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
}

body {
  font-family: sans-serif;
}

/* Home.css */

.image-style {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.title1 {
  text-align: center;
  margin: 0;
  padding: 20px;
  color: red;
}


.logo1 {
  width: 120px;
  margin-top: -106px;
  margin-bottom: 20px;
}

.center1 {
  margin-top: 60px;
}

.para {
  font-size: 28px;
}

.btn {
  margin-top: 45px;
}

.btn1 {
  padding: 10px;
  font-size: 18px;
  background: green;
  color: white;
  border: navy;
  margin: 45px 50%;
  cursor: pointer;
}

.supertitle {
  background-color: $lightGreen;
  padding: 10px;
  padding: 8px;
  border-radius: 10px;
  display: inline-block;
}

.rolebutton {
  margin-left: 17px;
  border-radius: 10px;
}

.description {
  font-size: 18px;
  color: #555;
  margin: 5px 0;
  margin-bottom: 17px;
}

.personal-profile {

  .heading {
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 13px;

    .editimg {
      width: 30px;
      height: 30px;
      margin-left: 20px;
      margin-top: 0px;
    }

    .deleteimg {
      width: 30px;
      height: 30px;
      margin-left: 1px;
    }
  }

  .profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .data {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-top: 0px;
    font-size: 18px;
    width: 55%;
    margin-bottom: 40px;

    .item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 7px;

      .item-title {
        font-weight: bold;
      }

      .item-value {
        color: #333;
      }
    }
  }
}

.statistics-intro {
  p {
    font-size: 18px;
    color: #555;
    margin: 5px 0;
    margin-bottom: 17px;
  }

  h2 {
    margin-top: 50px;
  }

  span {
    font-size: 18px;
    color: teal;
    font-weight: bold;
    margin-top: 0px;
  }
}

.allergies-intro {
  p {
    font-size: 18px;
    color: #555;
    margin: 5px 0;
    margin-bottom: 17px;
  }

  .allergies-container {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: #b9e7e72c;
    border: 1px solid #ddd;
    border-radius: 5px;

    .allergies-icon {
      margin-right: 20px;

      img {
        max-width: 60px;
        height: auto;
        border-radius: 50%;
      }
    }

    .allergies-content {
      h2 {
        font-size: 24px;
        margin: 0;
      }

      p {
        font-size: 18px;
        color: #555;
        margin: 5px 0;
        text-align: justify;
      }
    }
  }
}

.pagination {
  font-size: 18px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 120px;
  margin-bottom: 0px;
}

.pagination li {
  margin: 0 6px;
}

.pagination li a {
  margin: 0 10px;
  border: 1px solid $lightGreen;
  background-color: $lightGreen;
  color: #fff;
  border-radius: 15px;
  padding: 10px 20px;
}

.pagination li a:hover {
  background-color: #fff;
  color: $lightGreen;
}

.previous,
.next {
  margin: 0 10px;
  color: #fff;
  border-radius: 15px;
  padding: 8px 16px;
}

.previous:hover,
.next:hover {
  background-color: #fff;
  color: $lightGreen;
}

.app {
  display: flex;
  justify-content: center;

  .container {
    width: 1024px;

    .link {
      text-decoration: none;
      color: inherit;
    }

    .auth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: $lightGreen;
      backdrop-filter: blur(5px);

      .image {
        color: teal;
        font-size: 15px;
        border: 2px solid #d1d1d1;
        padding: 10px;
        border-radius: 5px;
      }

      .image-container {
        font-size: 16px;
        font-weight: bold;
        color: teal;
      }

      .file {
        text-decoration: underline;
        cursor: pointer;
      }

      .infotext {
        font-size: 16px;
      }

      input {
        font-size: 16px;
      }

      h1 {
        font-size: 35px;
        color: teal;
        margin-bottom: 20px;
        text-align: center;
      }

      form {
        display: flex;
        flex-direction: column;
        padding: 50px;
        background-color: white;
        width: 200px;
        gap: 20px;
        border-radius: 6%;

        input {
          padding: 15px;
          border: none;
          border-bottom: 1px solid gray;
        }

        button {
          padding: 10px;
          border: none;
          background-color: teal;
          cursor: pointer;
          color: white;
          font-size: 14px;
        }

        p {
          font-size: 15px;
          color: red;
          text-align: center;
        }

        span {
          font-size: 14px;
          text-align: center;
        }
      }
    }

    .navbar {
      font-weight: bold;

      .container {
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
          img {
            width: 120px;
          }
        }

        .link {
          text-align: center;
          margin-bottom: 30px;
        }

        .links {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;

          .justadot {
            margin-left: 5px;
            justify-content: center;
            text-align: center;
            border-radius: 50%;
            width: 8px;
            height: 8px;
            align-items: center;
            justify-content: space-between;
          }

          .menu {
            text-align: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 128, 128, 0.466);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 999;
            display: block;

          }

          .menu-buttons {
            display: flex;
            margin-top: 0px;
            justify-content: center;
          }

          .menu-item {
            font-size: 20px;
            color: teal;
            background: white;
            padding: 20px;
            border-radius: 10px;
            text-align: center;
            margin: 10px;
          }

          .menu-item a {
            text-decoration: none;
            color: inherit;
          }

          .menu-title {
            margin-top: 20px;
            font-size: 1.5rem;
            color: #414141;
            margin-top: 350px;
            background-color: white;
            padding: 10px;
            padding: 8px;
            border-radius: 5px;
            display: inline-block;
          }

          .close-icon {
            position: absolute;
            top: 40px;
            left: 40px;
            cursor: pointer;
            font-size: 20px;
          }

          .menu-item:hover {
            background: #ddd;
          }

          .linkprofile {
            color: teal;
            font-size: 18px;
            font-weight: bold;
          }

          h6 {
            color: teal;
            font-size: 17px;
            font-weight: 300;
            text-align: center;
            font-weight: bold;
            margin-bottom: -3px;
          }

          span {
            background-color: $lightGreen;
            padding: 5px 5px;
            border-radius: 10%;
            cursor: pointer;
            font-weight: bold;
          }

          .write {
            background-color: $lightGreen;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 300;
            border: 1px solid white;
            font-size: 20px;
            font-weight: bold;

            &:hover {
              color: teal;
              background-color: white;
              border: 1px solid teal;
            }
          }
        }
      }
    }

    footer {
      margin-top: 100px;
      padding: 20px;
      background-color: $lightGreen;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;

      .logo {
        height: 65px;
        border-radius: 50%;
      }

      .social-icons {
        display: flex;
        height: 40px;
        gap: 15px;
      }
    }

    .home {

      button {
        margin-top: 20px;
        font-size: 17px;
        width: max-content;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        background-color: white;
        border: 1px solid teal;
        color: teal;

        &:hover {
          border: 1px solid white;
          background-color: $lightGreen;
          color: black;
        }
      }

      .boxes {

        legend {
          font-size: 20px;
          font-weight: bold;
          margin-top: 10px;
          margin-bottom: 5px;
        }

        input {
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 20px;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          width: 97%;
        }

        select {
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 20px;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          width: 20%;
        }
      }

      .posts {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 80px;

        .post {
          display: flex;
          gap: 70px;

          .img {
            flex: 2;
            position: relative;

            &::after {
              content: "";
              width: 100%;
              height: 100%;
              background-color: $lightGreen;
              position: absolute;
              top: 20px;
              left: -20px;
              z-index: -1;
            }

            img {
              width: 100%;
              max-height: 400px;
              object-fit: cover;
            }
          }

          .content {
            flex: 3;
            display: flex;
            flex-direction: column;

            h1 {
              font-size: 40px;
              margin-bottom: 0px;
              background-color: $lightGreen;
              padding: 10px;
              padding: 8px;
              border-radius: 10px;
              display: inline-block;
            }

            p {
              font-size: 20px;
            }

            .comment-likes {
              display: flex;
              align-items: center;

              button {
                border: none;
                background-color: #e9fdfd;
              }
            }

            .heart-icon {
              width: 30px;
              height: 30px;
              margin-left: -3px;
              margin-right: -7px;
              margin-bottom: -7px;
              margin-top: -4px;
            }

            .likes-count {
              color: rgb(255, 0, 0);
              font-weight: bold;
              font-weight: bold;
              margin-left: 11px;
              font-size: 18px;
            }

            button {
              margin-top: 40px;
              font-size: 15px;
              width: max-content;
              padding: 10px 20px;
              border: none;
              cursor: pointer;
              background-color: white;
              border: 1px solid teal;
              color: teal;

              &:hover {
                border: 1px solid white;
                background-color: $lightGreen;
                color: black;
              }
            }
          }
        }
      }
    }

    .single {
      display: flex;
      gap: 50px;

      h1 {
        font-size: 48px;
        margin-top: 10px;
        margin-bottom: 5px;
      }

      p {
        font-size: 18px;
        margin-top: 0px;
      }

      .market-table {

        .data {
          border: 1px solid #ccc;
          padding: 10px;
          border-radius: 5px;
          margin-top: 0px;
          font-size: 18px;
          width: 50%;
          margin-bottom: 40px;

          .item {
            display: flex;
            justify-content: space-between;
            margin-bottom: 7px;

            .item-title {
              font-weight: bold;
            }

            .item-value {
              color: #333;
            }
          }
        }
      }

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .arrow-img {
          width: 80px;
          height: 80px;
          margin-left: 0px;
          margin-top: -10px;
          margin-bottom: -35px;
        }

        .super-image {
          background-color: $lightGreen;
        }

        .fancy-allergy {
          font-size: 24px;
          font-weight: bold;
          color: teal;
          text-transform: uppercase;
          margin: 5px 0;
          display: flex;
          align-items: center;
          margin-bottom: 2px;

          &::before {
            content: "\2713";
            font-size: 18px;
            margin-right: 10px;
            color: teal;
            margin-bottom: 2px;
          }
        }

        .contains-heading {
          font-size: 25px;
          font-weight: bold;
          margin-top: 60px;
          margin-bottom: 0px;
        }

        .more-data-heading {
          font-size: 25px;
          font-weight: bold;
          margin-top: 5px;
          margin-bottom: -13px;
        }

        .more-data-container {
          border: 1px solid #ccc;
          padding: 10px;
          border-radius: 5px;
          margin-top: -10px;
          font-size: 18px;
        }

        .more-data-item {
          display: flex;
          justify-content: space-between;
          margin-bottom: 7px;
        }

        .more-data-label {
          font-weight: bold;
        }

        .more-data-value {
          color: #333;
        }

        .comments-heading {
          font-size: 25px;
          font-weight: bold;
          margin-top: 20px;
          margin-bottom: -10px;
        }

        .comments-list {
          list-style: none;
          padding: 0;
          margin-top: -20px;
        }

        .comment {
          border: 1px solid #ccc;
          margin: 10px 0;
          padding: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #e9fdfd;
          border-radius: 5px;
        }

        .user-image {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-right: 10px;
        }

        .user-info {
          display: flex;
          align-items: center;
        }

        .comment-content {
          .username {
            font-weight: bold;
            margin-bottom: 10px;
            margin-top: 10px;
            margin-left: -5px;
          }

          p {
            text-align: justify;
            line-height: 1.5;
            font-size: 15px;
            line-height: 30px;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 4px;
          }
        }

        .comment-likes {
          display: flex;
          align-items: center;

          button {
            border: none;
            background-color: #e9fdfd;
          }
        }

        .heart-icon {
          width: 30px;
          height: 30px;
          margin-left: -7px;
          margin-right: -7px;
          margin-bottom: -7px;
          margin-top: -4px;
        }

        .likes-count {
          color: rgb(255, 0, 0);
          font-weight: bold;
          font-weight: bold;
          margin-left: 3px;
          font-size: 18px;
        }

        h1 {
          text-align: justify;
          line-height: 30px;
        }

        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 4px;
          font-size: 14px;

          .heart-icon {
            width: 40px;
            height: 40px;
            margin-left: -10px;
            margin-right: -6px;
            margin-bottom: -7px;
            margin-top: -50px;
          }

          .likes-count {
            color: rgb(255, 0, 0);
            font-weight: bold;
            margin-left: 3px;
            font-size: 18px;
          }

          button {
            border: none;
            background-color: #ffffff;
            margin-left: 450px;
          }

          .likes-count {
            font-weight: bold;
            font-size: 25px;
            margin-left: 8px;
          }

          img {
            width: 78px;
            height: 60px;
            object-fit: cover;
          }

          span {
            font-weight: bold;
            font-size: 20px;
          }
        }

        .edit {
          display: flex;
          gap: 17px;

          .editimg {
            margin-left: 480px;
            width: 35px;
            height: 35px;
            cursor: pointer;
          }

          .delete {
            margin-left: 0px;
            width: 37px;
            height: 37px;
            cursor: pointer;
          }
        }

        h1 {
          font-size: 42px;
          color: #333;
          margin-top: 15px;
        }

        p {
          margin-top: 0px;
          margin-bottom: 0px;
          text-align: justify;
          line-height: 30px;
        }
      }

      .write-comment-heading {
        font-size: 25px;
        font-weight: bold;
        margin-top: -25px;
        margin-bottom: -15px;
      }

      .buttons {
        display: flex;
        justify-content: space-between;
        margin-top: -10px;
        margin-bottom: 0px;
        width: max-content;

        :last-child {
          cursor: pointer;
          color: white;
          background-color: teal;
          border: 5px solid teal;
          padding: 5px 5px;
          font-size: 17px;
          border-radius: 6px;
          margin-left: 0;
        }
      }

      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;

        h1 {
          font-size: 20px;
          color: #555;
        }

        .post {
          display: flex;
          flex-direction: column;
          gap: 0px;

          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            background-color: $lightGreen;
          }

          h2 {
            color: #555;
          }

          button {
            width: max-content;
            padding: 7.5px 15px;
            border: none;
            cursor: pointer;
            color: teal;
            background-color: white;
            border: 1px solid teal;
            margin-bottom: 45px;

            &:hover {
              border: 1px solid white;
              background-color: $lightGreen;
              color: black;
            }
          }
        }
      }
    }

    .boxes {

      input[type="checkbox"] {
        -webkit-appearance: none;
        width: 8px;
        height: 8px;
        border: 2px solid #333;
        border-radius: 3px;
        margin-right: 5px;
        margin-bottom: 2px;
        cursor: pointer;
      }

      span {
        font-size: 15px;
        color: teal;
        font-weight: bold;
        margin-left: 3px;
      }

      .custom-checkbox+label {
        font-size: 17px;
      }

      input[type="checkbox"]:checked {
        background-color: $lightGreen;
      }

      input[type="radio"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 16px;
        height: 16px;
        border: 2px solid #333;
        border-radius: 50%;
        margin-right: 5px;
        cursor: pointer;
      }

      input[type="radio"]:checked {
        background-color: $lightGreen;
      }

      label {
        font-size: 17px;
        padding: 3px;
      }
    }

    .add {
      margin-top: 20px;
      display: flex;
      gap: 20px;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .error-message {
          font-size: 15px;
          color: red;
          text-align: center;
        }

        .measurement-container {
          display: flex;
          justify-content: space-between;
        }

        .measurement-input {
          margin-top: 0px;
          display: flex;
          align-items: center;
        }

        .measurement-input select {
          padding: 10px;
          font-size: 14px;
          border: 1px solid #ccc;
          border-radius: 4px;
          background-color: #fff;
          color: #333;
          cursor: pointer;
          transition: border-color 0.3s;
        }

        .measurement-input select:hover {
          border-color: #007bff;
        }

        .quantity-input {
          flex: 1;
          margin-right: 10px;
        }

        .measurement-input input {
          width: 98%;
        }

        .quantity-input input {
          width: 95%;
        }

        .super-bar-code {
          display: flex;
          gap: 10px;

          h3 {
            font-size: 16px;
            margin-top: -3px;
            margin-bottom: -15px;
          }

          .super-bar-code input {
            width: 95%;
          }
        }

        .image {
          color: teal;
          font-size: 15px;
          border: 2px solid #d1d1d1;
          padding: 10px;
          border-radius: 5px;
        }

        .image-container {
          font-size: 18px;
          font-weight: bold;
          color: teal;
        }

        .file {
          text-decoration: underline;
          cursor: pointer;
        }

        .buttons {
          display: flex;
          justify-content: space-between;
          margin-top: 10px;
          margin-bottom: 0px;
          margin: 0 auto;
          width: max-content;

          :first-child {
            cursor: pointer;
            color: teal;
            background-color: white;
            border: 1px solid teal;
            padding: 3px 5px;
            font-size: 20x;
          }

          :last-child {
            cursor: pointer;
            color: white;
            background-color: teal;
            border: 5px solid teal;
            padding: 5px 5px;
            font-size: 20px;
            border-radius: 6px;
          }
        }

        .market {
          border: 2px solid #d1d1d1;
          padding: 10px;
          border-radius: 5px;
        }

        .market-container {
          font-size: 18px;
          font-weight: bold;
          color: teal;
        }

        h3 {
          margin-top: 0px;
          margin-bottom: 10px;
        }

        h1 {
          margin-top: 0px;
          margin-bottom: 5px;
        }

        input {
          padding: 10px;
          border: 1px solid lightgray;
        }

        .editorContainer {
          height: 300px;
          overflow: scroll;
          border: 1px solid lightgray;

          .editor {
            height: 100%;
            border: none;
          }
        }
      }

      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .item {
          border: 1px solid lightgray;
          padding: 10px;
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: 12px;
          color: #555;

          h1 {
            font-size: 20px;
          }

          .file {
            text-decoration: underline;
            cursor: pointer;
          }

          .buttons {
            display: flex;
            justify-content: space-between;

            :first-child {
              cursor: pointer;
              color: teal;
              background-color: white;
              border: 1px solid teal;
              padding: 3px 5px;
            }

            :last-child {
              cursor: pointer;
              color: white;
              background-color: teal;
              border: 1px solid teal;
              padding: 3px 5px;
            }
          }

          .cat {
            display: flex;
            align-items: center;
            gap: 2px;
            color: teal;
          }
        }
      }
    }
  }
}