h1,h2 {
    margin-bottom:12px 0;
}

h2 {
    color: #080;
}

.allergies-content {
    margin-top: 12px;
}

.allergies-content p {
    padding: 10px;
    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 7px;
}

.allergies-icon {
    margin-top: 30px;
}

/*.allergies-content :nth-child(odd) {
    background-color: #eee;
}

.allergies-content :nth-child(even) {
    background-color: #050;
}
*/

