h1,
h2 {
    margin-bottom: 12px 0;
} 

.allergies-page {
    padding: 30px;
}

.allergies-bigbutton {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    background-color: #b9e7e75e !important;
    border-color: #b9e7e7 !important;
    border-radius: 20px;
}

.allergies-name {
    margin-left: 3px;
    font-size: 24px;
    font-weight: bold;
    margin-top: 3px;
    color: rgb(73, 73, 73);
}

.allergies-content {
    margin-top: 12px;
    text-align: justify;
}

.allergies-content p {
    padding: 10px;
    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 7px;
}

.allergies-header {
    display: flex;
}

.allergies-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
}

.allergies-title {
    font-size: 28px;
    margin-top: 15px;
    font-weight: bold;
    background-color: #b9e7e7;
    padding: 10px;
    padding: 8px;
    border-radius: 10px;
    display: inline-block;
}

.allergies-text {
    text-align: justify;
}