.home_content {
  padding: 20px;
  margin-bottom: 100px;
}

.home-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.home-header-logo {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  margin-right: 10px;
}

.home-header-text {
  margin: 0;
  font-size: 30px;
  margin-left: 17px;
  margin-bottom: 8px;
  font-style: italic;
  color: teal;
  text-align: center;
}

.maintitles {
  font-size: 22px;
  background-color: #b9e7e7;
  padding: 8px;
  border-radius: 10px;
  display: block;
  text-align: center;
  margin: 0px !important;
  margin-bottom: 10px !important;
}

.img1 {
  width: 100% !important;
  height: 300px !important;
  margin-bottom: 20px !important;
  padding: 10px !important;
  border-radius: 15px !important;
  border: 1px solid #ccc;
}

.w-100.sticky-bottom {
  margin-bottom: -50px !important;
  margin-top: 30px !important;
}

.w-100 {
  margin-top: 0px !important;
}

.heart {
  font-size: 30px !important;
}

.configration-container.my-3 {
  margin-top: 0px !important;
}

h5.maintitles.mb-4 {
  width: 90% !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.recommended-title {
  margin-top: -100px !important;
}

.home-products {
  margin-bottom: 60px;
}

.home-recipes {
  margin-bottom: 40px;
}

.noti-icon{
  margin-left: 30px;
  height: auto;
  width: 60px;
}