.init_content {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #b9e7e7;
}

.init-title {
    margin-top: 0px;
    color: #505050;
    font-weight: bold;
    background-color: #b9e7e7;
    padding: 10px;
    padding: 8px;
    border-radius: 10px;
    display: inline-block;
    color: teal;
    margin-top: 180px !important;
}

.init_logo img {
    border-radius: 50%;
    width: 250px !important;
    height: auto !important;
}

.welcome-text {
    font-size: 18px;
    font-weight: bold;
    color: #505050;
}

.init_buttons {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    text-align: center;
    border: 1px solid #ccc;
    padding: 25px 20px;
    background-color: #b9e7e7;
}

.button-login,
.button-reg {
    margin: 0 10px;
    width: calc(50% - 20px);
}

.button-login {
    background-color: rgb(0, 97, 97);
    color: white;
    border: none;
    font-size: 18px;
}

.button-reg {
    background-color: white;
    color: rgb(0, 97, 97);
    border: 1px solid rgb(0, 97, 97);
    font-size: 18px;
}