.login_content {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-color: #b9e7e7;
}

.display-2 {
    margin-top: 0px;
    color: #505050;
    font-weight: bold;
}

.login_logo img {
    border-radius: 50%;
}

.login_buttons button {
    margin: 0 10px;
    /* Separación horizontal entre los botones */
}

.login_buttons {
    /* Separación horizontal entre los botones */
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    /* Puedes ajustar el color de fondo si es necesario */
    text-align: center;
    border: 1px solid #ccc;
    /* Borde alrededor del rectángulo */
    padding: 25px 20px;
    /* Espaciado interno */
    background-color: #b9e7e7;
}

.login_logo img {
    width: 100px;
    height: auto;
}

h1.display-2 {
    color: #080;
    margin-top: 180px !important;
}

.img11 {
    width: 70px !important;
    height: 70px !important;
}

button.btn.btn-primary.btn-sm {
    border-radius: 15px !important;
    padding: 5px 10px !important;
}