h1 {
    margin-top: 250px !important;
}

.auth {
    padding: 20px !important;
    padding-bottom: 152px !important;
    margin-top: 108px !important;
}


.infotex {
    font-size: 18px !important; 
}

button.my-3 {
    margin-left: 90px !important;
    padding: 5px 20px !important;
}

.auth {
    padding: 16px !important;
    padding-bottom: 152px !important;
    height: 1000px !important;
}

.w-100 {
    margin-top: -111px !important;
}

form {
    margin-left: 10px !important;
    width: 90% !important;
    margin-top: 200px !important;
}

input[type="password"] {
    border: 1px solid #ccc;
    border-radius: 5px !important;
    padding: 6px !important;
}