.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
}

.login-username {
  height: 45px;
  width: 100%;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.login-password {
  flex: 1;
  padding: 10px;
  height: 45px;
  width: 100%;
}

.password-toggle {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.login-but {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  color: white;
  background-color: teal;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-err {
  margin-top: 20px;
  color: red;
  text-align: center;
  font-size: 16px;
}

.infotex {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
}

.text-primary {
  color: teal;
}

.login-title {
  text-align: center;
  font-size: 25px;
  color: teal;
  margin-top: 15px;
  font-weight: bold;
}