.profile-content {
  padding: 15px;
  margin: 0 auto;
  margin-bottom: 100px;
}

/* HEADER */
.profile-header {
  background-color: #aeeeee;
  padding: 20px;
  border-radius: 8px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.profile-profilepic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fff;
}

.profile-username {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 24px;
  font-weight: bold;
  color: #585858;
}

.profile-premium {
  background-color: rgb(251, 249, 122);
  color: teal;
  padding: 10px;
  margin-top: 3px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 19px;
}

.profile-edit {
  width: 45px;
  height: 45px;
  margin-top: 5px;
  cursor: pointer;
}

.profile-edit:hover {
  opacity: 0.8;
}

.premium-star {
  font-size: 30px;
  margin-right: 100px;
}

.profile-username-premium {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 24px;
  font-weight: bold;
  color: rgb(246, 234, 4);
  text-shadow:
    -1px -1px 0 #585858,
    1px -1px 0 #585858,
    -1px 1px 0 #585858,
    1px 1px 0 #585858
}

/* FOLLOWS */
.follow-section {
  display: flex;
  justify-content: space-around;
  padding: 8px;
  background-color: #aeeeee;
  border-radius: 10px;
  margin: 10px 0 0;
}

.follower-count,
.following-count {
  text-align: center;
}

.follow-h5 {
  color: #006166;
  font-size: 1.5em;
  margin-bottom: -5px;
}

.follow-p {
  color: #006166;
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 0px;
}

/* USER ALERGIES */
.user-allergies-logos {
  margin-top: 0px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #aeeeee;
  padding: 10px;
  border-radius: 8px;
  align-items: center;
}

.intolerances-title {
  margin-top: 10px;
  font-size: 19px;
  font-weight: bold;
  color: #585858;
}

.fancy-allergy-icon-user {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 50%;
}

.help-icon-user {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-left: -5px;
  margin-top: 3px;
}


/* CONTENT */
.profile-maintitles {
  font-weight: bold;
  margin-top: 15px;
  background-color: #b9e7e7;
  padding: 10px;
  padding: 8px;
  border-radius: 10px;
  display: inline-block;
  font-size: 25px;
}

.card-container {
  padding: 12px;
}

/* MODAL */
button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(49, 49, 49, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.premium-description {
  font-size: 18px;
  margin-bottom: 20px;
  display: block;
}

.premium-button {
  padding: 10px;
  font-size: 16px;
  background-color: rgb(255, 225, 0);
  color: rgb(88, 88, 88);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.close-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.no-post-prod {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 100px;
  font-size: 25px;
  font-weight: bold;
  color: #585858;
}

.no-post-rec {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 400px;
  font-size: 25px;
  font-weight: bold;
  color: #585858;
}