/* Estilos para el componente Home */

/* Se aplica a todo el contenido de Home */
.profile_content {
    padding: 20px;
    /* Ajustar el relleno para el contenido */

    

        .profilepic{
            margin-left: -15px;
            margin-right: -8px;
            width: 78px;
            height: 60px;
            object-fit: cover;
        }

        
    }

    



.w-100.sticky-bottom {
    margin-top: 324px !important;
}

.w-100 {
    background-color: #f0fffe;
}

img {
    width: 40px !important;
    height: 40px !important;
}

.alert.alert-warning {
    background-color: #ff0000 !important;
    border: 1px solid #ff0000 !important;
    color: #fff !important;
    width: 35% !important;
    border-radius: 15px !important;
    margin-left: 10px;
    font-size: 1rem;
    padding: 5px;
    margin: 10px;
}

.maintitles {
    margin-top: 40px;
    font-weight: bold;
    margin-top: 30px;
    background-color: #b9e7e7;
    padding: 10px;
    padding: 8px;
    border-radius: 10px;
    display: block;
    text-align: center;
}

.profile_card {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    margin-bottom: 120px !important;
}

span.icon2 {
    margin-left: 10px;
    font-size: 20px;
}