.popup-content {
    width: 95% !important;
}

.popup-overlay {
    background: rgba(3, 3, 3, .8) !important;
}

.modal-body {
    display: none !important;
}

.modal-footer , .modal-header {
    border: none !important;
}

.modal-header {
    margin-bottom: 40px;
}

