.register-form {
    background-size: cover;
    background-repeat: repeat;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
 #regForm {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
  }
  
  /* Style the input fields */
  input {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #04AA6D;
  }


  /* Centering the form on the screen */
.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust to your desired height */
}

.form-container {
  width: 70%; /* Adjust width as needed */
  background-color: rgba(255, 255, 255, 0.8); /* Background color with opacity */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional: Add box shadow for depth */
}

/* Styling the checkboxes */
.form-check-input {
  margin-right: 10px; /* Adjust spacing between checkbox and label */
  /* Add more styles to improve checkbox visibility */
}

/* Center align the labels */
.form-check-label {
  align-items: center;
}

/* Styling for headings */
h3 {
  margin-bottom: 10px; /* Adjust spacing between headings and checkboxes */
}

.label1 {
  display: inline-block;
  margin-top: 192px;
}

p.error-msg {
  margin-top: -45px !important;
}

label#errorMail {
  margin-bottom: 29px !important;
  margin-top: 403px !important;
}

.container {
  padding: 0px !important;
}

form {
  margin-left: 10px !important;
  width: 90% !important;
}