/* SingleProduct.css */

.single {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2; /* Color de fondo general */
  }
  
  .content {
    max-width: 800px;
    width: 100%;
    background-color: #fff; /* Color de fondo del contenido */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 20px;
    margin-top: 20px;
  }
  
  .arrow-img {
    width: 30px;
    cursor: pointer;
  }
  
  .user {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 3px;
  }
  
  .info {
    flex-grow: 1;
  }
  
  .username {
    font-weight: bold;
    font-size: 16px;
  }
  
  /* Agrega estilos para la sección de comentarios, likes, y botones según sea necesario */
  
  .product-name {
    font-size: 24px;
    margin-top: 15px;
    font-weight: bold;
    background-color: #b9e7e7;
    padding: 10px;
    padding: 8px;
    border-radius: 10px;
    display: inline-block;
  }
  
  .description {
    margin-top: 0px;
    font-size: 16px;
    text-align: justify;
    /* Agrega otros estilos de texto según sea necesario */
  }
  
  .contains {
    margin-top: 20px;
  }
  
  .contains-heading {
    font-size: 20px;
    font-weight: bold;
  }

  .description-heading{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .fancy-allergy {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #ff9999; /* Color de fondo para alergias */
    border-radius: 5px;
    font-weight: bold;
  }
  
  .more-data-heading {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .more-data-container {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-top: -10px;
    font-size: 16px;
  }

  .more-data-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
  }

  .more-data-label {
    font-weight: bold;
  }

  .more-data-value {
    color: #333;
  }
  
  .comments-heading {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .comments-list {
    list-style: none;
    padding: 0;
  }
  
  .comment {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3ffff;
    border-radius: 5px;
  }
  
  .comment-content {
    .username {
      font-weight: bold;
      margin-bottom: 10px;
      margin-top: 10px;
      margin-left: -5px;
    }

    p {
      text-align: justify;
      line-height: 1.5;
      font-size: 15px;
      line-height: 30px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 4px;
    }
  }
  
  .user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .user-info {
    display: flex;
    align-items: center;
  }
  
  .likes-count {
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-weight: bold;
    margin-left: 3px;
    font-size: 18px;
  }

  .heart-icon {
    width: 20px;
    height: 20px;
    margin-left: -7px;
    margin-right: -7px;
    margin-bottom: -7px;
    margin-top: -4px;
  }

  .comment-likes-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
  
  .write-comment-heading {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
  }
  
.editorContainer {
  height: 250px;
  overflow: scroll;
  font-size: 20px;

  .editor {
    height: 30%;
    border: none;
  }
}

.super-image {
  width: 120px !important;
  height: 120px !important;
  border-radius: 15px !important;
  margin: auto 30px !important;
  border: 1px solid #fff;
  border-radius: 25px !important;
}