.single-recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgb(208, 208, 208) !important;
}

.content {
  max-width: 800px;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}

.arrow-img {
  width: 30px;
  cursor: pointer;
}

.user {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 3px;
}

.info {
  flex-grow: 1;
}

.username {
  font-weight: bold;
  font-size: 16px;
}

.recipe-name {
  margin-top: 15px;
  background-color: #b9e7e7;
  padding: 6px;
  padding: 8px;
  border-radius: 10px;
  display: inline-block;
}

.description {
  margin-top: 0px;
  font-size: 16px;
  text-align: justify;
}

.contains {
  margin-top: 20px;
}

.contains-heading {
  font-size: 20px;
  font-weight: bold;
}

.description-heading {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.fancy-allergy {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #ff9999;
  border-radius: 5px;
  font-weight: bold;
}

.specifications-heading {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.more-data-heading {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 5px;
}

.steps-heading {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: -27px;
}

.more-data-container {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin-top: -10px;
  font-size: 16px;
}

.more-data-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.more-data-label {
  font-weight: bold;
}

.more-data-value {
  color: #333;
}

.comments-heading {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.comments-list {
  list-style: none;
  padding: 0;
}

.comment {
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3ffff;
  border-radius: 5px;
}

.comment-content {
  .username {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: -5px;
  }

  p {
    text-align: justify;
    line-height: 1.5;
    font-size: 15px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 4px;
  }
}

.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info {
  display: flex;
  align-items: center;
}

.likes-count {
  color: rgb(255, 0, 0);
  font-weight: bold;
  font-weight: bold;
  margin-left: 3px;
  font-size: 18px;
}

.heart-icon {
  width: 20px;
  height: 20px;
  margin-left: -7px;
  margin-right: -7px;
  margin-bottom: -7px;
  margin-top: -4px;
}

.likes-count-component {
  color: rgb(255, 255, 255) !important;
  font-weight: bold;
  font-size: 15px;
  position: absolute;
  z-index: 2;
}

.heart-icon-component {
  width: 40px;
  height: 40px;
  background-color: transparent;
  margin-right: 1px;
  z-index: 1;
}

.comment-likes-component {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: none; /* Remove button background */
  border: none;     /* Remove button border */
  padding: 0;       /* Remove button padding */
  cursor: pointer;  /* Optional: Change cursor on hover */
}

.comment-likes-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.write-comment-heading {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.editorContainer {
  height: 250px;
  overflow: scroll;
  font-size: 20px;

  .editor {
    height: 30%;
    border: none;
  }
}

h1.recipe-name {
  margin-top: 20px !important;
}

.super-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe-image {
  width: 200px !important;
  height: 200px !important;
  border-radius: 15px !important;
  border: 2px solid #b9e7e7;
  border-radius: 25px !important;
  align-items: center;
}