.single-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgb(208, 208, 208) !important;
}

.username {
  font-weight: bold;
  font-size: 18px;
  background-color: #b9e7e792;
  padding: 5px;
  border-radius: 10px;
  color: rgb(32, 32, 32);
}

.single-header {
  display: flex;
  justify-content: space-between;
}

.product-name {
  font-size: 24px;
  margin-top: 15px;
  font-weight: bold;
  background-color: #b9e7e7;
  padding: 10px;
  padding: 8px;
  border-radius: 10px;
  display: inline-block;
}

.description {
  margin-top: 0px;
  font-size: 16px;
  text-align: justify;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 8px;
}

.contains {
  margin-top: 20px;
}

.contains-main-heading {
  display: flex;
}

.contains-heading {
  font-size: 20px;
  font-weight: bold;
}

.help-icon {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-left: -5px;
  margin-top: -9px;
}

.description-heading {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.fancy-allergy {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #ff9999;
  border-radius: 5px;
  font-weight: bold;
}

.fancy-allergy-icon {
  margin-top: 3px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 2px;
}

.more-data-heading {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.more-data-container {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin-top: -10px;
  font-size: 16px;
}

.more-data-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.more-data-label {
  font-weight: bold;
}

.more-data-value {
  color: #333;
}

.comments-heading {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.comments-list {
  list-style: none;
  padding: 0;
}

.comment {
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3ffff;
  border-radius: 5px;
}

.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info {
  display: flex;
  align-items: center;
}

.like {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.0);
}

.likes-count-component {
  color: rgb(255, 255, 255) !important;
  font-weight: bold;
  font-size: 15px;
  position: absolute;
  z-index: 2;
}

.heart-icon-component {
  width: 40px;
  height: 40px;
  background-color: transparent;
  margin-right: 1px;
  z-index: 1;
}

.heart-icon-top {
  width: 30px;
  height: 30px;
}

.comment-likes-component {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: none;
  /* Remove button background */
  border: none;
  /* Remove button border */
  padding: 0;
  /* Remove button padding */
  cursor: pointer;
  /* Optional: Change cursor on hover */
}

.comment-likes-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.write-comment-heading {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.editorContainer {
  height: 250px;
  overflow: scroll;
  font-size: 20px;

  .editor {
    height: 55%;
    border: none;
  }
}

.super-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image {
  width: 200px !important;
  height: 200px !important;
  border-radius: 15px !important;
  border: 2px solid #b9e7e7;
  border-radius: 25px !important;
  align-items: center;
}

.comment-button {
  margin-top: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.publishcomment-button {
  background-color: teal;
}

.reply-icon {
  width: 25px;
  height: 25px;
  margin-left: 0px;
}

.comment-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.likeandreply {
  display: flex;
}

.alert-info-popup{
  margin-top: 30px;
}