/* Estilos para el componente Home */

/* Se aplica a todo el contenido de Home */
.profile_content {
    padding: 20px;
    /* Ajustar el relleno para el contenido */

    .profile_card {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 14px;

        .profilepic{
            margin-left: -15px;
            margin-right: -8px;
            width: 78px;
            height: 60px;
            object-fit: cover;
        }

        .username{
            font-weight: bold;
            font-size: 18px;
        }

        .alert-warning{
            margin-left: 10px;
            font-size: 1rem; /* Ajustar el tamaño del texto */
            padding: 5px; /* Ajustar el relleno del rectángulo */
            margin: 10px; /* Ajustar el margen del rectángulo */
        }
    }

    /* Cambiar el tamaño de las imágenes en las tarjetas */
    .card img {
        width: 100%;
        /* Opcional: Ajustar el tamaño de las imágenes al ancho del contenedor */
        height: auto;
        /* Mantener la proporción */
    }

    .maintitles {
        margin-top: 20px;
    }

    /* Ajustar el tamaño de las tarjetas */
    .card {
        width: 300px;
        /* Ancho deseado para las tarjetas */
        margin: 5px;
        /* Espacio alrededor de cada tarjeta */
    }

    /* Estilos para los títulos de las tarjetas */
    .card-title {
        font-size: 1rem;
        /* Tamaño del título de la tarjeta */
    }

    /* Estilos para el texto de las tarjetas */
    .card-text {
        font-size: 0.9rem;
        /* Tamaño del texto de la tarjeta */
    }

    /* Ajustar estilos para los elementos de los carruseles, si es necesario */
    .carousel {
        /* Tus estilos para el carrusel */
    }

    /* Ajustar estilos para los botones del carrusel, si es necesario */
    .carousel-control-prev,
    .carousel-control-next {
        /* Tus estilos para los botones de control del carrusel */
    }
}